<!-- div resultado da pesquisa do busca solidaria -->
<div id="resultado_busca_solidaria">
</div>

<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="default.htm" title="Voltar para página Inicial">Página Inicial</a></li>
      <li class="last" title="Dúvidas">Dúvidas</li>
    </ul>
  </div>

  <!-- acessibilidade -->
  <div id="aMais"><a href="#" title="Aumenta tamanho da fonte" id="aumenta_fonte"></a></div>
  <div id="aMenos"><a href="#" title="Diminue tamanho da fonte" id="reduz_fonte"></a></div>
  <div id="tFonte">tamanho da fonte</div>

</div>


<p>• O que é o Click Solidário?<br/><br/>
O Click Solidário é uma ação que visa o encontro entre quem quer ajudar e as entidades que precisam de apoio, usando a Internet como principal meio. Além de dedicar-se constantemente a suprir as necessidades dessas entidades, o projeto realiza campanhas sazonais e emergenciais, em casos de catástrofes. Nosso principal objetivo é criar, por força da comunicação, uma cultura de atuação social no País, incentivando os brasileiros a serem ativos na ajuda ao próximo.
<br/>
<br/>
• O que o Portal Click Solidário oferece?<br/><br/>
O Portal Click Solidário oferece informações sobre diversas entidades, iniciativas e ações sociais ativas no Brasil e permite ao usuário contribuir com essas ações. A colaboração pode ser feita através de trabalho voluntário ou por meio de doações em dinheiro ou em bens. Além disso, o Click Solidário avalia as entidades, em função de um feedback dado pelas próprias após cada doação em dinheiro realizada. Dessa forma, o Click Solidário contribui para a criação de um ranking de entidades que melhor respondem aos doadores.
<br/>
<br/>
• Como faço para doar dinheiro?<br/><br/>
Para fazer doações em dinheiro, primeiramente você deve preencher sue cadastro no Click Solidário. Caso já seja cadastrado, você deve efetuar seu login. Em seguida, click em “Doar dinheiro” na página inicial do Portal ou no link “Ajude Agora” na barra de navegação superior do Portal. Por fim, preencha o Formulário de Doações em Dinheiro. Nesse formulário você informa o valor e data em que irá realizar a doação, a entidade ou o projeto especifico que deseja beneficiar e se deseja ser anônimo. Uma vez preenchido o formulário, o Click Solidário irá informa-lo sobre os dados bancários da entidade para realização da doação.
<br/>
<br/>
• Ao fazer uma doação em dinheiro, os meus dados cadastrais será repassados para a entidade ou poderei permanecer anônimo?<br/><br/>
Ao fazer uma doação em dinheiro, você poderá escolher entre informa ou não o seu nome para a entidade que irá receber sua ajuda. Caso você opte por permanecer anônimo, semente seu login ficará disponível para a entidade. Você também tem a opção de criar um apelido, caso seu login seja muito parecido com o seu nome. Em todos os casos, nenhuma outra informação sua será repassada para a entidade. A privacidade de seus dados será mantida.
<br/>
<br/>
• Como faço para doar um bem?<br/><br/>
Para doar bens, primeiramente você deverá preencher seu cadastro no Click Solidário ou, caso já seja cadastrado, efetuar seu login. Em seguida, você deverá clicar em “Doar Bens” na página inicial do Portal ou no link “Ajude Agora”, na barra de navegação superior do Portal, e, por fim, preencher o Formulário de Doação de Bens. Nesse formulário você Irá informar qual é o bem que deseja doar, quais são as entidade/projetos para as quais o seu bem se destina (você pode selecionar uma ou mais entidade/projetos em especifico) e se deseja disponibilizar seu nome e telefone para a entidade ou se deseja permanecer anônimo (neste caso somente seu login e e-mail serão disponibilizados). Preenchido o formulário, seu bem estará cadastrado no Banco de Doação de Bens. Caso você não tenha uma escolha definida de quais entidade/projetos deseja ajudar, você poderá selecionar um perfil de entidades. Para definir esse perfil, você deverá escolher uma ou mais áreas de atuação temática e uma ou mais regiões que gostaria de ajudar como voluntário. Todas as entidades que se encaixem no perfil definido poderão visualizar seu bem no Banco de Doação de Bens e entrar em contato com você via e-mail caso tenha interesse no mesmo.</p>