<div class="flash">
  <div class="message error">
    <h1>Desculpe, acesso negado.</h1>
    <h4>Entre em contato conosco.</h4>
    <h3>informatica@cfa.org.br</h3>
    <h2><%= link_to 'Voltar', :back %></h2>
  </div>
</div>