<h2 class="title"> SGS (<%= " #{versao?} " %>)</h2>
<h2 class="title">SGS - Sistema de Gestão Solidaria.</h2>
<hr/>
<ul class="list">
  <li>
    <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" /></a>
    <p><br/>
      <b>Projeto Click Solidario - SGS - Sistema de Gestão Solidaria.<br/> Alunos de TSI - Anhanguera.<br/>
        Turma - 2011.</b>
    </p>
  </li>
  <li>
    <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" /></a>
    <p><br/>
      <b>Desenvolvimento, Banco de dados, Implementação.<br/>
        Equipe:<br/>
        *Tiago Garcia - RA 0922430286.<br/>
        *Isac - .<br/>
        *Fabio - .<br/>
        *Andre - .<br/>
      </b>
    </p>
  </li>
  <br/>
  <li><b><img src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" />
      Designer: Fabiano - RA</b>
  </li>
  <li><b><img src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" />
      Complemento e integração do designer: Tiago - RA 0922430286</b>
  </li>

  <li>
    <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" /></a>
    <p><b>Documentação<br/> *Isac - .<br/>
        *Tiago Garcia - RA 0922430286.<br/>
        *Fabiano - .<br/>
        *Fabio - .<br/>
        *Andre - .<br/></b>
    </p>
  </li>
</ul>