<div class="block">
  <div class="content">
    <h2 class="title"> SGS (<%= " #{versao?} " %>)</h2>
    <div class="inner">
      <div class="content">
        <h2 class="title">SGS - Sistema de Gestão Solidaria.</h2>
        <hr/>
        <div class="inner">
          <ul class="list">
            <li>
              <div class="left">
                <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" /></a>
              </div>
              <div class="item">
                <p><br/>
                  <b>Projeto Click Solidario - SGS - Sistema de Gestão Solidaria.<br/> Alunos de TSI - Anhanguera.<br/>
                    Turma - 2011.</b>
                </p>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" /></a>
              </div>
              <div class="item">
                <p><br/>
                  <b>Desenvolvimento, Banco de dados, Implementação.<br/>
                    Equipe:<br/>
                    *Tiago Garcia - RA 0922430286.<br/>
                    *Isac - .<br/>
                    *Fabio - .<br/>
                    *Andre - .<br/>
                  </b>
                </p>
              </div>
            </li>
            <br/>
            <li>
              <div class="left">
                <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" /></a>
              </div>
              <div class="item">
                <p><b>Designer:<br/> *Fabiano - RA<br/>
                    Complemento e integração do designer - Tiago</b>
                </p>
              </div>
            </li>
            <li>
              <div class="left">
                <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" /></a>
              </div>
              <div class="item">
                <p><b>Documentação<br/> *Isac - .<br/>
                    *Tiago Garcia - RA 0922430286.<br/>
                    *Fabiano - .<br/>
                    *Fabio - .<br/>
                    *Andre - .<br/></b>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>
