<h2 class="title"> SGS (<%= " #{versao?} " %>)</h2>
<h2 class="title">SGS - Sistema de Gestão Solidaria.</h2>
<hr/>
<ul class="list">
  <li>
    <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" /></a>
      <b>Projeto Click Solidario - SGS - Sistema de Gestão Solidaria.<br/> Alunos de TSI - Anhanguera.<br/>
        Turma - 2011.</b><br/>
  </li>
  <li>
    <a href="#"><img class="avatar" src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" /></a>
      <b>Desenvolvimento, Banco de dados, Implementação, Documentação.<br/>
        *Equipe: *Valderluiz Tiago – RA 0922430286<br/>
        *Fabiano Oliveira Lima – RA 0931445690<br/>
        *André de Oliveira Santana – RA 0970463035<br/>
        *Isac de Souza Cajá – RA 0940470570<br/>
        *Fabio Lenine Faria Acosta – RA 0901395684<br/>
      </b>
  </li>
  <br/>
  <li><b><img src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" />
      Designer: Fabiano</b>
  </li>
  <li><b><img src="images/Administrador.png" alt="avatar" style="width: 30px; height: 30px;" />
      Integração do designer: Tiago</b>
  </li>  
</ul>