<!-- div resultado da pesquisa do busca solidaria -->
<div id="resultado_busca_solidaria">
</div>

<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="default.htm" title="Voltar para página Inicial">Página Inicial</a></li>
      <li title="Saiba Como">Saiba Como</li>
      <li class="last" title="Reciclar seu Lixo">Reciclar seu Lixo</li>
    </ul>
  </div>

  <!-- acessibilidade -->
  <div id="aMais"><a href="#" title="Aumenta tamanho da fonte" id="aumenta_fonte"></a></div>
  <div id="aMenos"><a href="#" title="Diminue tamanho da fonte" id="reduz_fonte"></a></div>
  <div id="tFonte">tamanho da fonte</div>

</div>


<div class="floatbox">

  <table class="contentpaneopen">
    <tr>
      <td class="contentheading" width="100%">Consciência Sócio Ambiental</td>
    </tr>
  </table>

  <table class="contentpaneopen">

    <tr>
      <td valign="top" colspan="2">
        <strong>A produ&ccedil;&atilde;o de res&iacute;duos &eacute; inerente &agrave; condi&ccedil;&atilde;o humana&nbsp; e inexor&aacute;vel.</strong>
        <br /><br />MAS A LATA DE LIXO N&Atilde;O &Eacute; UM DESINTEGRADOR M&Aacute;GICO DE MAT&Eacute;RIA !<br /><br />
        <div align="justify">O lixo continua existindo depois que o jogamos na lixeira.<img style="float: right" src="/images/lixao.png" alt=" " hspace="15" width="250" height="177" align="left" />
          <br /><br />N&atilde;o h&aacute; como n&atilde;o produzir lixo, mas podemos diminuir essa produ&ccedil;&atilde;o.<br/>
          <br />Como? <br/>Reduzindo o desperd&iacute;cio, reutilizando sempre que poss&iacute;vel e separando os materiais recicl&aacute;veis para a coleta seletiva.
          <br />Tem coisas que a gente s&oacute; n&atilde;o faz por n&atilde;o saber como.<br/>
          <br />&Eacute; importante conhecer o processo e as regras quando queremos fazer a diferen&ccedil;a.<br />
          <br />A id&eacute;ia &eacute; construirmos um mundo melhor, certo? Cremos que um futuro melhor seja o resultado de um presente mais respons&aacute;vel.
          <br />Individualmente respons&aacute;vel.<br /></div><br />Boa sorte!&nbsp;
      </td>
    </tr>
  </table>

  <span class="article_seperator">&nbsp;</span>

</div>