<!-- Apadrinhe uma Criança -->
<div id="Apadrinhe">
  <h1>Apadrinhe uma Criança</h1>
  <div>
    <img src="images/Apadrinhe_Foto.jpg" style=" float:left;" />
    <div id="ApadrinheBox">
      <p>Anderson vive uma realidade trágica que já tirou a vida do irmãozinho dele</p>
      <span>Ainda há tempo de mudarmos o fim dessa história.</span>
      <img src="images/Apadrinhe_Bt.gif" style="float:right;" />
    </div>
  </div>

</div>
<!-- Apadrinhe Link -->
<div id="ApadrinheBoxLink" ><a href="#">Veja mais crianças que precisam de vocês</a></div>