<h1 class="title">Busca por Entidade</h1>
<%= form_tag(busca_entidade_path, :method => "get", :remote => true ) do %>
  <input type="hidden" name="filtro" id="filtro" value="nome" />
  <input id="query" class="search" type="text" value="Digitar..." name="query" onfocus="this.value='';"/>
  <input id="queryImage" class="searchImg" type="image" src="/images/search_icon.png"/>
<% end %>