<div id="ConhecaIniciativas">

  <h1>Conheça essas Iniciativas</h1>
  <p>Todo més 3 importantes ações no Click Solidário serão destacadas.</p>

  <ul>
    <li><a href="#">UniGente</a></li>
    <li><a href="#">Vida Gente</a></li>
    <li><a href="#">Cont. Responsável</a></li>
  </ul>
</div>