<div id="depoimentos">
  <div class="tamanho">
    <h1>Depoimentos</h1>
    <h2>Leia os depoimentos de entidades e usuários do Click Solidário:</h2>

    <div class="ladoEsquerdo">
      <div class="texto">
        <a href="#">
          <span>Terra dos Homens</span>
          Entendo que o trabalho desenvolvido pelo Portal Click Solidário contribui para estreitar a relação entre as organizações e a sociedade.(..) <img src="images/aspasMenor.png" width="25" height="18" border="0" />
        </a>
      </div>
    </div>

    <div class="ladoDireito">
      <div class="texto2">
        <a href="#">
          <span>Aparecida Silva</span>
          O trabalho voluntário não tem preço. É uma dádiva poder ajudar e, uma pequena colaboração faz uma grande diferença!(..) <img src="images/aspasMenor.png" width="25" height="18" border="0" />
        </a>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <div id="depoimentosBoxLink"><a href="#">Veja mais depoimentos »</a></div>

</div>