<div id="Emergencia">

  <h1>Emergência</h1>

  <ul>
    <li>
      <p>13h24</p>
      <div style="float: left;">
        <img src="images/emergencia_Foto.jpg" alt=""/><br />
        <div class="botao"><img src="images/emergencia_Bt.jpg" alt=""/></div>
      </div>
      <div style="float:right; width: 170px; ">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais.</span>
      </div>
    </li>

    <li>
      <p>13h24</p>
      <div style="float: left;">
        <img src="images/emergencia_Foto.jpg" alt="" /><br />
        <div class="botao"><img src="images/emergencia_Bt.jpg" alt=""/></div>
      </div>
      <div style="float:right; width: 170px; ">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais.</span>
      </div>
    </li>

    <li>
      <p>13h24</p>
      <div style="float: left;">
        <img src="images/emergencia_Foto.jpg" alt=""/><br />
        <div class="botao"><img src="images/emergencia_Bt.jpg" alt=""/></div>
      </div>
      <div style="float:right; width: 170px; ">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais.</span>
      </div>
    </li>
    <li>
      <p>13h24</p>
      <div style="float: left;">
        <img src="images/emergencia_Foto.jpg" alt=""/><br />
        <div class="botao"><img src="images/emergencia_Bt.jpg" alt=""/></div>
      </div>
      <div style="float:right; width: 170px; ">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais.</span>
      </div>
    </li>
  </ul>

  <div id="EmergenciaBoxLink" ><a href="$">Veja mais notícias de Emergência</a></div>

</div>