<h1>Emergências</h1>
<% if emergencias.nil? or emergencias.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <% emergencias.each do |emergencia| %>
    <ul>
      <li>
        <p><%= emergencia.updated_at.strftime("%H:%M") %></p>
        <div style="float: left;">
          <%= image_tag(emergencia.imagem.url(:thumb)) %><br/>
          
          <div class="botao"><img src="images/emergencia_Bt.jpg" alt=""/></div>
        </div>
        <div style="float:right; width: 170px; ">
          <h2><%= emergencia.nome %></h2>
          <span><%= emergencia.desc %></span>
        </div>
      </li>
    </ul>
  <% end %>
  <div id="EmergenciaBoxLink" ><a href="$">Veja mais notícias de Emergência</a></div>
<% end %>