<div id="FacaComo">

  <h1>Faça como eles</h1>

  <div style="height: 274px">
    <div id="FacaComoTb01">
      <a href="#">
        <p><img src="images/FaçaComo-Foto01.jpg" alt=""/></p>
        <h1>O problema é que a AIDS saiu de moda</h1>
        <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
      </a>
    </div>
    <div id="FacaComoTb02">
      <a href="#">
        <p><img src="images/FaçaComo-Foto02.jpg" alt=""/></p>
        <h1>O problema é que a AIDS saiu de moda</h1>
        <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
      </a>
    </div>
    <div id="FacaComoTb03" style="float: right;">
      <a href="#">
        <p><img src="images/FaçaComo-Foto03.jpg" alt=""/></p>
        <h1>O problema é que a AIDS saiu de moda</h1>
        <span>As pessoas acham que a AIDS é uma doença que basta tomar um remédio e tudo bem, mas infelizmente não é bem assim.</span>
      </a>
    </div>
  </div>
  <!-- Botão - Veja mais o que podemos fazert -->
  <div id="FacaComoBoxLink" >
    <a href="#">Veja mais o que pode fazer »</a>
  </div>
</div>