<div id="login" class="login">login</div>

<div id="divLogin" class="loginBarra">
  <%= form_for @user_session, :url => user_session_path, :class => "loginBarra" do |f| %>
    <ul id="navlist">
      <li>Email:<%= f.text_field :email, :class=> "input", :style=>"width: 149px;" %></li>
      <li>Senha:<%= f.password_field :password, :class=> "input", :style=>"width: 149px;" %></li>
      <li><input name="botao"  type="submit"  value="ok »" class="botaoLogin" /></li>
    </ul>
  <% end %>
</div>

<div class="traco"></div>