<div id="ComoAjudar">
  <p>Escolha como Ajudar</p>
  <ul>
    <li><a href="#">Sangue</a></li>
    <li><a href="#">Donativos</a></li>
    <li><a href="#">Bens</a></li>
    <li><a href="/voluntarios">Voluntários</a></li>
  </ul>
</div>