<div id="MenuLateral">
  <div class="sidebarmenu">
    <ul id="sidebarmenu1">
      <li><a href="#">Quem Somos</a></li>
      <li><a href="#">Apoiadores</a></li>
      <li><a href="#">Divulgue o Click Solidário</a></li>
      <li><a href="#">Publicidade Solidária</a></li>
      <li><a href="#">Impressa</a></li>
      <li><a href="/newsletters/new">Newsletter</a></li>
      <li><a href="/duvida">Dúvidas</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
</div>