<div id="MenuLateral">

  <div class="sidebarmenu">
    <ul id="sidebarmenu1">
      <li><a href="quemSomos.htm" title="Quem Somos">Quem Somos</a></li>
      <li><a href="apoiadores.htm" title="Apoiadores">Apoiadores</a></li>
      <li><a href="divulgueClickSolidario.htm" title="Divulgue o Click Solidário">Divulgue o Click Solidário</a></li>
      <li><a href="publicidadeSolidaria.htm" title="Publicidade Solidária">Publicidade Solidária</a></li>
      <li><a href="imprensa.htm" title="Imprensa">Imprensa</a></li>
      <li><a href="/newsletters/new">Newsletter</a></li>
      <li><a href="/duvida">Dúvidas</a></li>
      <li><a href="#" title="">Blog</a></li>
    </ul>
  </div>

</div>