<div class="MenuBar">
  <ul>
    <li><a href="/" class="<%= controller.controller_path == 'portal' ? 'active' : '' %>">Home</a></li>
    <li><a href="#">Ajude Agora</a></li>
    <li><a href="#">Conheça o Click Solidário</a></li>
    <li><a href="/join" class="<%= controller.controller_path == 'users' ? 'active' : '' %>">Cadastre-se</a></li>
    <li><a href="#">Dúvidas</a></li>
    <li><a href="#">Contato</a></li>
  </ul>
</div>