<div id="ComoAjudar">
  <p>Escolha como Ajudar</p>
  <ul>
    <li><a href="/doacaos">Sangue</a></li>
    <li><a href="/doacaos">Donativos</a></li>
    <li><a href="/doacaos">Bens</a></li>
    <li><a href="/doacaos">Voluntários</a></li>
  </ul>
</div>