<div id="Noticias">

  <h1>Notícias de Cidadania</h1>

  <ul>
    <li>
      <a href="#">
        <p>13h24</p>
        <div style="float: right; width: 268px;">
          <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
          <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais vontade de cuidar da saúde e ficar em forma.</span>
        </div>
      </a>
    </li>
    <li>
      <p>13h24</p>
      <div style="float: right; width: 268px;">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais vontade de cuidar da saúde e ficar em forma.</span>
      </div>
    </li>
    <li>
      <p>13h24</p>
      <div style="float: right; width: 268px;">
        <h2>Praticar esportes na areia alivia o estresse e ameniza impacto do corpo</h2>
        <span>Preparador José Rubens D’Elia falou das vantagens desse tipo de exercício. No verão, as pessoas têm mais vontade de cuidar da saúde e ficar em forma.</span>
      </div>
    </li>
  </ul>
  <!-- Mais Notícias De Cidadania -->
  <div id="NoticiasBoxLink" ><a href="#">Veja mais notícias de cidadania »</a></div>

  <!-- Apadrinhe uma Criança -->
  <div id="Apadrinhe">
    <h1>Apadrinhe uma Criança</h1>
    <div>
      <img src="images/Apadrinhe_Foto.jpg" style=" float:left;" />
      <div id="ApadrinheBox">
        <p>Anderson vive uma realidade trágica que já tirou a vida do irmãozinho dele</p>
        <span>Ainda há tempo de mudarmos o fim dessa história.</span>
        <img src="images/Apadrinhe_Bt.gif" style="float:right;" />
      </div>
    </div>

  </div>
  <!-- Apadrinhe Link -->
  <div id="ApadrinheBoxLink" ><a href="#">Veja mais crianças que precisam de vocês</a></div>

</div>