<h1>Notícias de Cidadania</h1>
<% if noticias.nil? or noticias.empty? %>
  <p class="busca">
    Nenhum registro foi encontrado
  </p>
<% else %>
  <% noticias.each do |noticium| %>
    <ul>
      <li>
        <a href="#">
          <p><%= noticium.updated_at.strftime("%H:%M") %></p>
          <div style="float: right; width: 268px;">
            <h2><%= noticium.nome %></h2>
            <span><%= noticium.texto %></span>
          </div>
        </a>
      </li>
    </ul>
  <% end %>
  <!-- Mais Notícias De Cidadania -->
  <div id="NoticiasBoxLink" ><a href="#">Veja mais notícias de cidadania »</a></div>
<% end %>