<div id="feed"><a href=".rss" title="feed"></a></div>
<div id="facebook"><a href="http://www.facebook.com/profile.php?id=100002408113988" title="facebook"></a></div>
<div id="twitter"><a href="http://twitter.com/#!/clicksolidario" title="twitter"></a></div>