<div id="rodape">
  <div class="tamanho">

    <div class="logoRodape"></div>

    <div class="rodaLatDir">

      <div class="menuRod">
        <ul>
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Apoiadores</a></li>
          <li><a href="#">Divulgue o Click Solidário</a></li>
          <li><a href="#">Públicidade Solidária</a></li>
          <li><a href="#">Imprensa</a></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>

      <div class="pontMenuRod"></div>

      <div class="menuRod">
        <ul>
          <li><a href="#">Dúvida</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Cadastre-se</a></li>
          <li><a href="#">Ajude Agora</a></li>
          <li><a href="#">Adotar uma Criança</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>