<div id="SaibaComo">
  <h1>Saiba Como</h1>

  <div class="sidebarmenu">
    <ul id="sidebarmenu1">
      <li><a href="/adotar" title="Adotar uma Criança" class="<%= controller.controller_path == 'adotar' ? 'active' : '' %>">Adotar uma Criança</a></li>
      <li><a href="/conviver" title="Conviver com o Meio Ambiente">Conviver com o Meio Ambiente</a></li>
      <li><a href="/empresacidada" title="Ser uma Empresa Cidadã">Ser uma Empresa Cidadã</a></li>
      <li><a href="/doadororgaos" title="Ser um doador de Orgãos">Ser um doador de Orgãos</a></li>
      <li><a href="/reciclar" title="Reciclar seu lixo">Reciclar seu lixo</a></li>
    </ul>
  </div>

</div>