<div id="VejaComo">
  <h1>Veja como você Ajudou</h1>
  <form>
    <input id="VejaComo-campo" name="Text1" type="text" />
    <input id="VejaComo-campo" name="Text2" type="text" />

    <p><a href="$">Esqueci o login</a></p>
    <p><a href="$">Esqueci a senha</a></p>

    <input name="Submit1" type="image"  src="images/Bt_BuscarEntrar.gif" value="enviar" style="margin-top: 8px;" />

  </form>
</div>