<!-- div resultado da pesquisa do busca solidaria -->
<div id="resultado_busca_solidaria">
</div>

<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="default.htm" title="Voltar para página Inicial">Página Inicial</a></li>
      <li class="last" title="Ajude Agora">Ajude Agora</li>
    </ul>
  </div>

  <!-- acessibilidade -->
  <div id="aMais"><a href="#" title="Aumenta tamanho da fonte" id="aumenta_fonte"></a></div>
  <div id="aMenos"><a href="#" title="Diminue tamanho da fonte" id="reduz_fonte"></a></div>
  <div id="tFonte">tamanho da fonte</div>

</div>

<p>O Brasil possui inúmeras comunidades carentes de apoio, de todos os tipos em todas as partes, e tem grande necessidade de assistência na área social, de saúde e de educação.</p>
<p>A população conhece tais necessidades e tem o desejo instintivo de ajudar e colaborar, no entanto, não há uma cultura de massa de atuação social.</p>
<p>O Click Solidário vem ao encontro de pessoas como você, que embora queiram contribuir para alguma causa, não sabem como por falta de informações confiáveis sobre as entidades com que mais se identifica.</p>
<p>Para aumentar ainda mais o alcance dessa ação, seja um cidadão ativo e participe. Vamos ajudar o Brasil a se tornar um País melhor!</p>