<div id="barraIdentificacao" align="center">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="/" title="Voltar para página Inicial">Página Inicial</a></li>
      <li title="Noticia">Noticia</li>
      <li class="last" title="Alterar">Alterar</li>
    </ul>
  </div>

</div>

<%= render 'form' %>