<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="default.htm" title="Voltar para página Inicial">Página Inicial</a></li>
      <li title="Cadastre-se"><a href="cadastreSe.htm">Cadastre-se</a></li>
      <li class="last" title="Entidade">Entidade</li>
    </ul>
  </div>

</div>

<div id="cadastro">
  <%= render 'form' %>
</div>