<div class="flash">
  <div class="message error">
    <h1>Desculpe, acesso negado.</h1>
    <h4>Entre em contato conosco para maiores informações.</h4>
    <h3>solidarioclick@gmail.com</h3>
    <h2><%= link_to 'Voltar', :back %></h2>
  </div>
</div>