<div id="barraIdentificacao">

  <!-- migalhas de pão -->
  <div id="breadCrumb">
    <ul>
      <li class="first" title="Voltar para página Inicial"><a href="default.htm" title="Voltar para página Inicial">Página Inicial</a></li>
      <li title="Cadastre-se"><a href="cadastreSe.htm">Cadastre-se</a></li>
      <li class="last" title="Empresa">Voluntario</li>
    </ul>
  </div>

  <!-- acessibilidade -->
  <div id="aMais"><a href="#" title="Aumenta tamanho da fonte" id="aumenta_fonte"></a></div>
  <div id="aMenos"><a href="#" title="Diminue tamanho da fonte" id="reduz_fonte"></a></div>
  <div id="tFonte">tamanho da fonte</div>


  <%= render 'form' %>

</div>